/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root {
    --azul: #32b9be;
    --rojo: #FF2525;
    --amarillo: #FFCD1D;
    --verde: #21FF2A;
    --gris-oscuro: #272727;
    --gris-claro: #D9D9D9;
}

* {
    font-family: 'Montserrat', sans-serif;
    color: var(--gris-claro);
}

h1, h2 {
    font-family: 'Source Sans 3';
}


#error403, #error404 {
    background-color: #1E1E1E;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#error403 div, #error404 div {
    color: white;
    text-align: center;
}

#error403 div h1, #error404 div h1 {
    font-size: 150px;
    margin: 10px auto;
}

#error403 div p, #error404 div p {
    font-size: 30px;
    margin-bottom: 15%;
}

#error403 div a, #error404 div a {
    /*text-decoration: none;*/
    text-decoration-thickness: 5px;
    text-decoration-color: var(--azul);
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: color .1s linear;
}

#error403 div a:hover, #error404 div a:hover {
    /*text-decoration: underline;*/
    color: var(--azul);
}