/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

html{
    scroll-behavior: smooth;
}

:root {
    --azul: #32b9be;
    --rojo: #FF2525;
    --amarillo: #FFCD1D;
    --verde: #21FF2A;
    --gris-oscuro: #272727;
    --gris-claro: #D9D9D9;
}

* {
    font-family: 'Montserrat', sans-serif;
    color: var(--gris-claro);
    color: var(--gris-claro);
}

h1, h2 {
    font-family: 'Source Sans 3';
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--gris-oscuro);
}

a {
    text-decoration-thickness: 3px;
    text-decoration-color: var(--azul);
    color: var(--gris-claro);
    font-weight: bold;
    transition: color .1s linear;
}


body {
    background-color: var(--gris-oscuro);
    margin: 0;
}

/* Login */ 
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 90px auto;
}

#login h1 {
    font-size: 75px;
    margin: 35px auto;
}

#login form {
    margin: 25px auto;
    width: 20%;
}

#login input {
    background-color: var(--gris-oscuro);
    border: none;
    padding: 10px;
    margin-bottom: 40px;
    width: 100%;
    box-sizing: border-box; 
    border-bottom: 3px solid var(--gris-claro);
    font-size: large;
    outline: none;
}

#login input::placeholder {
    color: var(--gris-claro);
}

#login button {
    background-color: var(--gris-oscuro);
    border: var(--gris-claro) 3px solid;
    text-align: center;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 20px;
    display: inline-block;
    margin: 30px auto;
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    transition: background-color 0.3s, color 0.3s;
}

#login button:hover {
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);
}

#login a {
    margin: 20px auto;
}

/* Dashboard */
#dashboard {
    padding: 20px;
    text-align: center;
    margin: auto;
}

#dashboard h1 {
    font-size: 55px;
    margin: 10px;
}

#dashboard ul {
    list-style: none;
    margin: 50px auto;
    margin-bottom: 90px;
    width: 50%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: space-around;
    color: var(--gris-oscuro);
}

#dashboard li {
    background-color: var(--gris-claro);
    /* padding: 80px 50px; */
    border-radius: 20px;
    transition: transform .3s linear;
}

#dashboard li:hover {
    transform: scale(1.05);
}

#dashboard li:first-child {
    grid-column: span 1;
    grid-row: span 2;
    font-size: 18px;
    height: 450px;
    /* padding: 100px; */
}

/* Centra todo el contenido dentro de los elementos <li> */
#dashboard li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    color: var(--gris-oscuro);
    text-decoration: none;
    font-weight: bold;
    /* transition: scale .5s; */
}

#dashboard li > a:hover {
    /* scale: 1.5; */
    text-decoration: underline;
}

#dashboard #logout {
    margin-top: 80px;
    text-decoration: none;
    border: solid 3px var(--gris-claro);
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: underline;
    font-size: larger;
    transition: background-color 0.3s, color 0.3s;
}

#logout:hover {
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);
}

/* create_poll */ 
#createPoll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 30px auto;
    margin-bottom: 5px;
}

#createPoll h1 {
    font-size: 55px;
    margin: 10px;
}

#createPoll form {
    margin: 5px auto;
    width: 50%;
}

#createPoll #question {
    margin-bottom: 15px;
}

#createPoll input {
    background-color: var(--gris-oscuro);
    border: none;
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box; 
    border-bottom: 6px solid var(--gris-claro);
    font-size: large;
    transition: border-color 0.3s;
    outline: none;
}

#createPoll input:not([type="submit"]):focus {
    border-color: var(--azul);
}

#createPoll input::placeholder {
    color: var(--gris-claro);
}

#createPoll input[type="datetime-local"] {
    width: 100%;
}

#createPoll label {
    margin: auto 40px;
}

#optionsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px auto;
}

#optionsContainer > input {
    width: 80%;
    margin: 10px auto;
    border-bottom: 3px solid var(--gris-claro);
}

#createPoll button {
    background-color: var(--gris-oscuro);
    border: var(--gris-claro) 3px solid;
    text-align: center;
    align-items: center;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 20px;
    display: inline-block;
    margin: 20px 15px;
    font-size: larger;
    transition: background-color 0.3s, color 0.3s;
}

#createPoll button:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

#createPoll svg {
    margin-right: 8px;
}

#createPoll button[type="submit"]:hover {
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);
}


a:hover { color: var(--azul); }

/*Errores */
#error403, #error404 {
    background-color: #1E1E1E;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#error403 div, #error404 div {
    color: var(--gris-claro);
    color: var(--gris-claro);
    text-align: center;
}

#error403 div h1, #error404 div h1 {
    font-size: 150px;
    margin: 10px auto;
}

#error403 div p, #error404 div p {
    font-size: 30px;
    margin-bottom: 15%;
}

#error403 div a, #error404 div a {
    text-decoration-thickness: 5px;
    text-decoration-color: var(--azul);
    color: var(--gris-claro);
    color: var(--gris-claro);
    font-weight: bold;
    font-size: 40px;
    transition: color .1s linear;
    transition: color .1s linear;
}

#error403 div a:hover, #error404 div a:hover {
    color: var(--azul);
}

#crear-cuenta main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#crear-cuenta h1 {
    font-size: 60px;
    margin-bottom: 50px;

}

#crear-cuenta form {
    display: flex;
    flex-direction: column;
    position: relative;
}

#crear-cuenta label {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

#crear-cuenta form > input + label,
#crear-cuenta form > select + label {
    margin-top: 20px;
}

#crear-cuenta input:not([type="submit"]),
#crear-cuenta select {
    width: 500px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: solid 3px var(--gris-claro);
    outline: none;
    transition: border-bottom .3s linear;
}

#crear-cuenta input:not([type="submit"]):focus {
    border-bottom: solid 3px var(--azul);
}

#crear-cuenta select > option {
    background-color: var(--gris-claro);
    border: var(--azul);
}

#crear-cuenta select > option:not(:disabled) {
    color: var(--gris-oscuro);
}

#crear-cuenta select > option:hover {
    background-color: var(--azul);
}

#crear-cuenta input[type="submit"] {
    margin-top: 50px;
    width: 200px;
    color: var(--gris-claro);
    background-color: transparent;
    border: 3px solid var(--gris-claro);
    padding: 15px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: color .3s linear, background-color .3s linear;
}

#crear-cuenta input[type="submit"]:hover {
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);
}

#crear-cuenta input[type="submit"]:disabled {
    opacity: .7;
    cursor: not-allowed;
}

/* Chrome, Safari, Edge, Opera */
#crear-cuenta input::-webkit-outer-spin-button,
#crear-cuenta input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#crear-cuenta input[type=number] {
    -moz-appearance: textfield;
}

#crear-cuenta span.required {
    color: var(--rojo);
    padding-left: 5px;
}

#crear-cuenta form > div.divisor {
    display: flex;
    gap: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#crear-cuenta form > div.divisor span {
    display: flex;
    flex-direction: column;
}

#crear-cuenta form > div.divisor span > label {
    display: flex;
}

#crear-cuenta form > div.divisor span > input {
    width: 230px;
}

#prefixtel {
    width:50px !important;
}

#register_tel {
    width: 440px !important;
}

.main{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5%;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap:45px;
    align-items: center;
    padding: 0;
}

.navbar ul a {
    width: max-content;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
}
.title h1, .title span{
    margin: 0;
}

.title h1{
    font-size: 7rem;
}
.title span{
    font-size: larger;
}
.bodyimg{
    background-image: url(imgs/persona-votando.webp);
    margin: 0;
    padding: 0;
    display: flex;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 95vh;
    flex-direction: column;
    align-items: center;

    .bodytext{
        margin: auto;
        padding-bottom: 15%;
        *{
            z-index: 3;
            color: var(--gris-claro);
        }
    }
}


.bodyimg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}

.godown {
    bottom: 0;
    margin-bottom: 5%;
    z-index: 3;
    font-size: 3rem;
    transform: translateY(0); /* Configuraci贸n inicial de transformaci贸n */
    transition: transform 0.3s ease;
}

.godown:hover {
    transform: translateY(-9px); /* Transformaci贸n al pasar el rat贸n sobre el elemento */
}

.godown > a > svg {
    transition: filter .3s linear;
}

.godown:hover > a > svg {
    filter: invert(60%) sepia(73%) saturate(410%) hue-rotate(133deg) brightness(110%) contrast(110%);
}

.maintext {
    position: relative;
    width: 80%;
    margin: 5% auto;
}

.maintext p, .maintext h3, .maintext ul  {
    margin: 2em;
    font-size: large;
}

footer {
    width: 100%;
    align-self: flex-end;
    padding: 2vh 0 ;
}
.authors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
.continfo p {
    margin: 5%;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.links a {
    text-decoration-thickness: 2px;
}


/* Notificaciones */
#notification__list {
    position: fixed;
    left: 5px;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 430px;
}

/* input:not([type="submit"]) {} */

#notification__list li {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 20px;
    border: 3px solid var(--gris-claro);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

#notification__list > li button {
    width: fit-content;
    padding: 0;
    height: fit-content;
    background-color: transparent;
    border: none;
    outline: none;
}

#notification__list > li svg:not(:last-child) {
    min-width: 42px;
    min-height: 42px;
    margin-right: 10px;
}

#notification__list > li button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border .3s linear;
}

#notification__list > li button:hover {
    border: 1px solid var(--gris-claro);
}

#notification__list > li svg:last-child:hover {
    color: var(--rojo);
}

#notification__list > li span,
#notification__list > li span span {
    display: flex;
    align-items: center;
}

/*[disabled] {
    cursor: not-allowed;
    opacity: .8;
}*/

/* list_polls.php */
#list_polls > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#list_polls > main h1 {
    font-size: 60px;
}

#list_polls > main h1+span {
    margin-bottom: 50px;
}

#list_polls > main section.grid-polls {
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#list_polls > main section.grid-polls > article.grid-poll-item a {
    padding: 20px;
    border: 2px solid var(--gris-claro);
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 20px;
    text-decoration: none;
    transition: border-color .2s linear;
}

#list_polls > main section.grid-polls > article.grid-poll-item:hover a {
    border-color: var(--azul);
}

#list_polls > main section.grid-polls > article.grid-poll-item a div > * {transition: color .2s linear;}

#list_polls > main section.grid-polls > article.grid-poll-item a:hover > div * {
    color: var(--azul);
}

#list_polls > main section.grid-polls > article.grid-poll-item a > footer {
    padding: 0;
}

#list_polls > main section.grid-polls > article.grid-poll-item a > div {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--azul);
}

#list_polls > main section.grid-polls > article.grid-poll-item a > footer > div {
    display: flex;
    align-items: center;
}

#list_polls > main section.grid-polls > article.grid-poll-item a > footer > div.poll-is-published::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: var(--rojo);
    margin-right: 10px;
}

#list_polls > main section.grid-polls > article.grid-poll-item a > footer > div.poll-is-published.publicada::before {
    background-color: var(--verde);
}

#list_polls > main section.grid-polls > article.grid-poll-item a > footer > div.poll-is-online::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: var(--rojo);
    margin-right: 10px;
}

#list_polls > main section.grid-polls > article.grid-poll-item a > footer > div.poll-is-online.finalizada::before {
    background-color: var(--rojo);
}

#list_polls > main section.grid-polls > article.grid-poll-item a > footer > div.poll-is-online.programada::before {
    background-color: var(--amarillo);
}

#list_polls > main section.grid-polls > article.grid-poll-item a > footer > div.poll-is-online.en-proceso::before {
    background-color: var(--verde);
}

/* survey_details.php */
#survey_details > main {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

#survey_details > main > section {
    width: 70vw;
}

#survey_details > main > aside {
    width: 30vw;
    background-color: gray;
}

#mailVerification {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#mailVerification .footer {
    margin-top: auto;
}